[submodule "zsh-themes/spaceship-prompt"]
	path = zsh-themes/spaceship-prompt
	url = https://github.com/denysdovhan/spaceship-prompt.git
[submodule "config/.config/alacritty/themes"]
	path = config/.config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
